<!DOCTYPE html>
<html>
<head>
    <title>Management Dashboard</title>
</head>
<body>

<h1>Management Dashboard</h1>

<p>Welcome, {{ request.user.username }}</p>

<ul>
    <li>/api/reports/management-dashboard/Management Dashboard API</a></li>
    <li>/api/reports/sales-dashboard/Sales Dashboard</a></li>
    <li>/api/reports/project-dashboard/Project Dashboard</a></li>
    <li>/api/reports/inventory-dashboard/Inventory Dashboard</a></li>
    <li>/api/reports/finance-dashboard/Finance Dashboard</a></li>
    <li>/api/reports/technician-dashboard/Technician Dashboard</a></li>
</ul>

/logout/Logout</a>

</body>
</html>
